<div class="container">
  <div class="container-spinner" *ngIf="proses === RequestStatus.Loading">
    <core-spinner
      class="spinner"
      [type]="'circle'"
      [size]="60"
      colorState="default"
    ></core-spinner>
  </div>
  <core-expandable-card
    [headerTitle]="'ریز گزارشات'"
    class="content-report"
    [isCardOpen]="false"
    *ngIf="proses === RequestStatus.Success"
    ><div class="table-detail-info-travelers">
      <table>
        <tr>
          <th *ngFor="let column of columnsSchema">{{ column.label }}</th>
        </tr>
        <tr
          *ngFor="
            let yearlyStockData of stockData.yearlyStockData;
            let counter = index
          "
        >
          <td
            *ngFor="let column of columnsSchema"
            [ngClass]="{
              blue: column.color==='blue',
              orange: column.color==='orange',
              gray: column.color==='gray',
            }"
          >
            {{
              column.leverage && column.leverage > 0
                ? ((yearlyStockData[column.key] * column.leverage
                    | number : "1.2-2") + "%" | persianDigits)
                : column.pipe && column.pipe.length > 0
                ? ((yearlyStockData[column.key] | number : column.pipe) + ""
                  | persianDigits)
                : column.type === "selector"
                ? (yearlyStockData[column.key][column.data?.key!]
                  | digitGroup
                  | persianDigits)
                : column.type === "number"
                ? (yearlyStockData[column.key] | persianDigits)
                : (yearlyStockData[column.key] | digitGroup | persianDigits)
            }}
          </td>
        </tr>
      </table>
      <!-- <div class="no-emd" *ngIf="stockData.yearlyStockData?.length === 0">
        دیتایی وجود ندارد
      </div> -->
    </div>
  </core-expandable-card>
  <core-expandable-card
    [headerTitle]="'گزارشات ماهیانه'"
    class="content-report"
    [isCardOpen]="true"
    *ngIf="proses === RequestStatus.Success"
    ><div class="table-detail-info-travelers">
      <table>
        <tr>
          <th *ngFor="let column of columnsSchema1">{{ column.label }}</th>
        </tr>
        <tr
          *ngFor="
            let monthlyStockData of stockData.monthlyStockData;
            let counter = index
          "
        >
          <td
            *ngFor="let column of columnsSchema1"
            [ngClass]="{
              blue: column.color==='blue',
              orange: column.color==='orange',
              gray: column.color==='gray',
            }"
          >
            <div
              *ngIf="column.column === 4 && column.keys"
              class="flex flex-col"
            >
              <span>{{
                column.pipe
                  ? " % " +
                    ((monthlyStockData[column.keys[0]] | number : "1.2-2") + ""
                      | persianDigits)
                  : (monthlyStockData[column.keys[0]]
                    | digitGroup
                    | persianDigits)
              }}</span>
              <span>{{
                column.pipe
                  ? " % " +
                    ((monthlyStockData[column.keys[1]] | number : "1.2-2") + ""
                      | persianDigits)
                  : (monthlyStockData[column.keys[1]]
                    | digitGroup
                    | persianDigits)
              }}</span>
              <span>{{
                column.pipe
                  ? " % " +
                    ((monthlyStockData[column.keys[2]] | number : "1.2-2") + ""
                      | persianDigits)
                  : (monthlyStockData[column.keys[2]]
                    | digitGroup
                    | persianDigits)
              }}</span>
              <span>{{
                column.pipe
                  ? " % " +
                    ((monthlyStockData[column.keys[3]] | number : "1.2-2") + ""
                      | persianDigits)
                  : (monthlyStockData[column.keys[3]]
                    | digitGroup
                    | persianDigits)
              }}</span>
            </div>
            <span *ngIf="column.column === 1">{{
              column.pipe
                ? " % " +
                  ((monthlyStockData[column.key] | number : "1.2-2") + ""
                    | persianDigits)
                : (monthlyStockData[column.key] | persianDigits)
            }}</span>
          </td>
        </tr>
      </table>
      <!-- <div class="no-emd" *ngIf="stockData.yearlyStockData?.length === 0">
        دیتایی وجود ندارد
      </div> -->
    </div>
  </core-expandable-card>
</div>

<div class="block">
  <!-- <div class="w-36">
    <core-btn
      (btnClicked)="('')"
      class="col-span-1 inline-block m-2"
      [colorState]="'success'"
      >افزودن گزارش سالیانه</core-btn
    >

    <core-btn
      (btnClicked)="('')"
      class="col-span-1 inline-block m-2"
      [colorState]="'success'"
      >افزودن گزارش فصلی</core-btn
    >

    <core-btn
      (btnClicked)="('')"
      class="col-span-1 inline-block m-2"
      [colorState]="'success'"
      >افزودن گزارش ماهیانه</core-btn
    >

    <core-btn
      (btnClicked)="('')"
      class="col-span-1 inline-block m-2"
      [colorState]="'success'"
    >
      حاشیه سود سالیانه</core-btn
    >
    <core-btn
      (btnClicked)="('')"
      class="col-span-1 inline-block m-2"
      [colorState]="'success'"
    >
      فصلی حاشیه سود</core-btn
    >
    <core-btn
      (btnClicked)="('')"
      class="col-span-1 inline-block m-2"
      [colorState]="'success'"
    >
      فصلی فروش</core-btn
    >
    <core-btn
      (btnClicked)="('')"
      class="col-span-1 inline-block m-2"
      [colorState]="'success'"
      >نمودار P/E</core-btn
    >
    <core-btn
      (btnClicked)="('')"
      class="col-span-1 inline-block m-2"
      [colorState]="'success'"
      >کدال</core-btn
    >
    <core-btn
      (btnClicked)="('')"
      class="col-span-1 inline-block m-2"
      [colorState]="'success'"
      >بورس</core-btn
    >
    <core-btn
      (btnClicked)="('')"
      class="col-span-1 inline-block m-2"
      [colorState]="'success'"
      >رهاورد</core-btn
    >
  </div> -->

  <!-- <div>
    <div class="tableYearHeader">
      <span [appTooltip]="'سال مالی'" appTooltipHelperPosition="bottom"
        >س م</span
      >
      <span [appTooltip]="'فروش'" appTooltipHelperPosition="bottom">ف</span>
      <span [appTooltip]="'هزینه تولید'" appTooltipHelperPosition="bottom"
        >ه.ت</span
      >
      <span [appTooltip]="'سود و زیان خالص'" appTooltipHelperPosition="bottom"
        >س(ز)خ</span
      >
      <span [appTooltip]="'قیمت دلار'" appTooltipHelperPosition="bottom"
        >$</span
      >
      <span [appTooltip]="'فروش به دلار'" appTooltipHelperPosition="bottom"
        >ف $</span
      >
      <span
        [appTooltip]="'هزینه تولید به دلار'"
        appTooltipHelperPosition="bottom"
        >ه ت $</span
      >
      <span
        [appTooltip]="'سود و زیان خالص به دلار'"
        appTooltipHelperPosition="bottom"
        >س(ز)خ $</span
      >
      <span
        [appTooltip]="'هزینه تولید به فروش'"
        appTooltipHelperPosition="bottom"
        >ه ت به ف</span
      >
      <span [appTooltip]="'حاشیه سود خالص'" appTooltipHelperPosition="bottom"
        >ح س خ</span
      >
      <span [appTooltip]="'تغییرات   دلار'" appTooltipHelperPosition="bottom"
        >ت $</span
      >
      <span
        [appTooltip]="'تغییرات فروش به دلار'"
        appTooltipHelperPosition="bottom"
        >ت ف $</span
      >
      <span
        [appTooltip]="'تغییرات هزینه تولید به دلار'"
        appTooltipHelperPosition="bottom"
        >ت ه ت $</span
      >
      <span
        [appTooltip]="'تغییرات سود و زیان خالص به دلار'"
        appTooltipHelperPosition="bottom"
        >ت س(ز)خ $</span
      >
      <span [appTooltip]="'اهرم ... '">اهرم</span>
    </div>
    <div
      class="tableYearBody"
      *ngFor="let yearlyStockData of stockData.yearlyStockData"
    >
      <span class="blue" [appTooltip]="''" appTooltipHelperPosition="bottom">{{
        yearlyStockData.year
      }}</span>
      <span class="blue" [appTooltip]="''" appTooltipHelperPosition="bottom">{{
        yearlyStockData.operatingIncome
      }}</span>
      <span class="blue" [appTooltip]="''" appTooltipHelperPosition="bottom">{{
        yearlyStockData.productionCost
      }}</span>
      <span class="blue" [appTooltip]="''" appTooltipHelperPosition="bottom">{{
        yearlyStockData.netProfitAndLoss
      }}</span>
      <span class="gray" [appTooltip]="''" appTooltipHelperPosition="bottom">{{
        yearlyStockData.dollarPrice?.price
      }}</span>
      <span
        class="orange"
        [appTooltip]="''"
        appTooltipHelperPosition="bottom"
        >{{ yearlyStockData.operatingIncomeInDollars | number : "1.2-2" }}</span
      >
      <span class="orange" [appTooltip]="''" appTooltipHelperPosition="bottom">
        {{ yearlyStockData.productionCostInDollars | number : "1.2-2" }}</span
      >
      <span class="orange" [appTooltip]="''" appTooltipHelperPosition="bottom">
        {{ yearlyStockData.netProfitAndLossInDollars | number : "1.2-2" }}
      </span>
      <span class="blue" [appTooltip]="''" appTooltipHelperPosition="bottom">
        {{ yearlyStockData.costOfProductionToSales * 100 | number : "1.2-2" }}%
      </span>
      <span class="blue" [appTooltip]="''" appTooltipHelperPosition="bottom">
        {{ yearlyStockData.netProfitMargin * 100 | number : "1.2-2" }}%
      </span>
      <span class="gray" [appTooltip]="''" appTooltipHelperPosition="bottom">
        {{ yearlyStockData.dollarChanges * 100 | number : "1.2-2" }}%
      </span>
      <span class="orange" [appTooltip]="''" appTooltipHelperPosition="bottom">
        {{
          yearlyStockData.operatingIncomeInDollarsChanges * 100
            | number : "1.2-2"
        }}%
      </span>
      <span class="orange" [appTooltip]="''" appTooltipHelperPosition="bottom">
        {{
          yearlyStockData.productionCostInDollarsChanges * 100
            | number : "1.2-2"
        }}%
      </span>
      <span class="orange" [appTooltip]="''" appTooltipHelperPosition="bottom">
        {{
          yearlyStockData.netProfitAndLossInDollarsChanges * 100
            | number : "1.2-2"
        }}%
      </span>
      <span class="gray" [appTooltip]="''">
        {{ yearlyStockData.leverage | number : "1.2-2" }}
      </span>
    </div>
  </div> -->

  <div class="w-[95vw] overflow-auto">
    <div class="sectionTwo mt-7">
      <div class="tableMonthHeader">
        <div class="year">
          <span [appTooltip]="'سال'" appTooltipHelperPosition="bottom"
            >سال</span
          >
        </div>
        <div class="season">
          <span [appTooltip]="'فصل'" appTooltipHelperPosition="bottom"
            >فصل</span
          >
        </div>
        <div class="afterMonth">
          <div>
            <span
              class="headerItem"
              [appTooltip]="'فروش فصلی'"
              appTooltipHelperPosition="bottom"
              >فروش فصلی</span
            >
          </div>
        </div>
        <div class="hearBigItem">
          <div class="afterMonth">
            <span [appTooltip]="'ماه'" appTooltipHelperPosition="bottom"
              >بر اساس گزارشات فصلی ( میلیون ریال )</span
            >
            <div>
              <span
                class="headerItem !w-[448px]"
                [appTooltip]="'گزارش دوره های 3 و 6 و 9 و 12 ماهه کدال'"
                appTooltipHelperPosition="bottom"
                >گزارش دوره های 3 و 6 و 9 و 12 ماهه کدال</span
              >
              <span
                class="headerItem !w-[1050px]"
                [appTooltip]="'بر اساس فصل های بهار تابستان پاییز و زمستان'"
                appTooltipHelperPosition="bottom"
                >بر اساس فصل های بهار تابستان پاییز و زمستان</span
              >
            </div>
          </div>

          <div class="inline-block">
            <span
              class="headerItem"
              [appTooltip]="'فروش'"
              appTooltipHelperPosition="bottom"
              >ف</span
            >
            <span
              class="headerItem"
              [appTooltip]="'هزینه تولید'"
              appTooltipHelperPosition="bottom"
              >ه ت</span
            >
            <span
              class="headerItem"
              [appTooltip]="'سود خالص'"
              appTooltipHelperPosition="bottom"
              >س خ</span
            >
            <span
              class="headerItem"
              [appTooltip]="'فروش فصل'"
              appTooltipHelperPosition="bottom"
              >ف فصل</span
            >
            <span
              class="headerItem"
              [appTooltip]="'هزینه تولید فصل'"
              appTooltipHelperPosition="bottom"
              >ه ت فصل</span
            >
            <span
              class="headerItem"
              [appTooltip]="'سود و زیان خالص فصل'"
              appTooltipHelperPosition="bottom"
              >س (ز) خ فصل</span
            >
            <span
              class="headerItem"
              [appTooltip]="'تولید فصل *'"
              appTooltipHelperPosition="bottom"
              >ت ف</span
            >
            <span
              class="headerItem"
              [appTooltip]="'نمیدونم'"
              appTooltipHelperPosition="bottom"
              >ت ه ت</span
            >
            <span
              class="headerItem"
              [appTooltip]="'هزینه تولید به فروش'"
              appTooltipHelperPosition="bottom"
              >ه ت به ف</span
            >
            <span
              class="headerItem"
              [appTooltip]="'حاشیه سود خالص'"
              appTooltipHelperPosition="bottom"
              >ح س خ</span
            >
          </div>
        </div>

        <span
          class="last"
          [appTooltip]="'م ح س'"
          appTooltipHelperPosition="bottom"
          >م ح س</span
        >
      </div>
      <div
        class="tableMonthBody"
        *ngFor="let monthlyStockData of stockData.monthlyStockData"
      >
        <span
          class="gray !w-[84px] !h-[-webkit-fill-available] text-center content-center"
          [appTooltip]="''"
          appTooltipHelperPosition="bottom"
          >{{ monthlyStockData.year }}</span
        >
        <div class="flex flex-col">
          <div
            class="flex text-black"
            [ngClass]="{ forwardColor: monthlyStockData.lastReportMonth <= 3 }"
          >
            <span
              class="green !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >بهار</span
            >

            <span
              class="green !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
            >
              <ng-container
                *ngIf="
                  monthlyStockData.lastReportMonth <= 3 &&
                  stockData.forecastMonthlyStockData
                "
              >
                {{
                  stockData.forecastMonthlyStockData.m1 +
                    stockData.forecastMonthlyStockData.m2 +
                    stockData.forecastMonthlyStockData.m3
                }}
              </ng-container>
              <ng-container *ngIf="monthlyStockData.lastReportMonth > 3">
                {{
                  monthlyStockData.m1 +
                    monthlyStockData.m2 +
                    monthlyStockData.m3
                }}
              </ng-container>
            </span>
            <span
              class="lightslategrey !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                monthlyStockData.lastReportMonth <= 3
                  ? stockData.forecastMonthlyStockData?.operatingIncome3Monthly
                  : monthlyStockData.operatingIncome3Monthly
              }}</span
            >
            <span
              class="lightslategrey !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                monthlyStockData.lastReportMonth <= 3
                  ? stockData.forecastMonthlyStockData?.productionCost3Monthly
                  : monthlyStockData.productionCost3Monthly
              }}</span
            >
            <span
              class="lightslategrey !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                monthlyStockData.lastReportMonth <= 3
                  ? stockData.forecastMonthlyStockData?.netProfitAndLoss3Monthly
                  : monthlyStockData.netProfitAndLoss3Monthly
              }}</span
            >
            <span
              class="yellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                monthlyStockData.lastReportMonth <= 3
                  ? stockData.forecastMonthlyStockData
                      ?.operatingIncomeFirstSeason
                  : monthlyStockData.operatingIncomeFirstSeason
              }}</span
            >
            <span
              class="yellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                monthlyStockData.lastReportMonth <= 3
                  ? ""
                  : monthlyStockData.productionCostFirstSeason
              }}</span
            >
            <span
              class="yellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                monthlyStockData.lastReportMonth <= 3
                  ? stockData.forecastMonthlyStockData
                      ?.netProfitAndLossFirstSeason
                  : monthlyStockData.netProfitAndLossFirstSeason
              }}</span
            >
            <span
              class="orange !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >1234</span
            >
            <span
              class="orange !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >1234</span
            >
            <span
              class="greenyellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >1234</span
            >
            <span
              class="greenyellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                (monthlyStockData.lastReportMonth <= 12 &&
                stockData.forecastMonthlyStockData
                  ? stockData.forecastMonthlyStockData
                      .netProfitMarginFirstSeason
                  : monthlyStockData.netProfitMarginFirstSeason) * 100
                  | number : "1.2-2"
              }}
            </span>
          </div>

          <div
            class="flex text-black"
            [ngClass]="{ forwardColor: monthlyStockData.lastReportMonth <= 6 }"
          >
            <span
              class="yellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >تابستان</span
            >
            <span
              class="yellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
            >
              <ng-container
                *ngIf="
                  monthlyStockData.lastReportMonth <= 6 &&
                  stockData.forecastMonthlyStockData
                "
              >
                {{
                  stockData.forecastMonthlyStockData.m4 +
                    stockData.forecastMonthlyStockData.m5 +
                    stockData.forecastMonthlyStockData.m6
                }}
              </ng-container>
              <ng-container *ngIf="monthlyStockData.lastReportMonth > 6">
                {{
                  monthlyStockData.m4 +
                    monthlyStockData.m5 +
                    monthlyStockData.m6
                }}
              </ng-container>
            </span>
            <span
              class="lightslategrey !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                monthlyStockData.lastReportMonth <= 6
                  ? stockData.forecastMonthlyStockData?.operatingIncome6Monthly
                  : monthlyStockData.operatingIncome6Monthly
              }}</span
            >
            <span
              class="lightslategrey !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                monthlyStockData.lastReportMonth <= 6
                  ? stockData.forecastMonthlyStockData?.productionCost6Monthly
                  : monthlyStockData.productionCost6Monthly
              }}</span
            >
            <span
              class="lightslategrey !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                monthlyStockData.lastReportMonth <= 6
                  ? stockData.forecastMonthlyStockData?.netProfitAndLoss6Monthly
                  : monthlyStockData.netProfitAndLoss6Monthly
              }}</span
            >
            <span
              class="yellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                monthlyStockData.lastReportMonth <= 6
                  ? stockData.forecastMonthlyStockData
                      ?.operatingIncomeSecondSeason
                  : monthlyStockData.operatingIncomeSecondSeason
              }}</span
            >
            <span
              class="yellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                monthlyStockData.lastReportMonth <= 6
                  ? ""
                  : monthlyStockData.productionCostSecondSeason
              }}</span
            >
            <span
              class="yellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                monthlyStockData.lastReportMonth <= 6
                  ? stockData.forecastMonthlyStockData
                      ?.netProfitAndLossSecondSeason
                  : monthlyStockData.netProfitAndLossSecondSeason
              }}</span
            >
            <span
              class="orange !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >1234</span
            >
            <span
              class="orange !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >1234</span
            >
            <span
              class="greenyellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >1234</span
            >
            <span
              class="greenyellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
            >
              {{
                (monthlyStockData.lastReportMonth <= 12 &&
                stockData.forecastMonthlyStockData
                  ? stockData.forecastMonthlyStockData
                      .netProfitMarginSecondSeason
                  : monthlyStockData.netProfitMarginSecondSeason) * 100
                  | number : "1.2-2"
              }}
            </span>
          </div>

          <div
            class="flex text-black"
            [ngClass]="{ forwardColor: monthlyStockData.lastReportMonth <= 9 }"
          >
            <span
              class="orange !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >پاییز</span
            >
            <span
              class="orange !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
            >
              <ng-container
                *ngIf="
                  monthlyStockData.lastReportMonth <= 9 &&
                  stockData.forecastMonthlyStockData
                "
              >
                {{
                  stockData.forecastMonthlyStockData.m7 +
                    stockData.forecastMonthlyStockData.m8 +
                    stockData.forecastMonthlyStockData.m9
                }}
              </ng-container>
              <ng-container *ngIf="monthlyStockData.lastReportMonth > 9">
                {{
                  monthlyStockData.m7 +
                    monthlyStockData.m8 +
                    monthlyStockData.m9
                }}
              </ng-container>
            </span>
            <span
              class="lightslategrey !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                (monthlyStockData.lastReportMonth <= 9
                  ? stockData.forecastMonthlyStockData?.operatingIncome9Monthly
                  : monthlyStockData.operatingIncome9Monthly
                ) | number : "1.0-2"
              }}</span
            >
            <span
              class="lightslategrey !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                (monthlyStockData.lastReportMonth <= 9
                  ? stockData.forecastMonthlyStockData?.productionCost9Monthly
                  : monthlyStockData.productionCost9Monthly
                ) | number : "1.0-2"
              }}</span
            >
            <span
              class="lightslategrey !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                (monthlyStockData.lastReportMonth <= 9
                  ? stockData.forecastMonthlyStockData?.netProfitAndLoss9Monthly
                  : monthlyStockData.netProfitAndLoss9Monthly
                ) | number : "1.0-2"
              }}</span
            >
            <span
              class="yellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                (monthlyStockData.lastReportMonth <= 9
                  ? stockData.forecastMonthlyStockData
                      ?.operatingIncomeThirdSeason
                  : monthlyStockData.operatingIncomeThirdSeason
                ) | number : "1.0-2"
              }}</span
            >
            <span
              class="yellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                (monthlyStockData.lastReportMonth <= 9
                  ? ""
                  : monthlyStockData.productionCostThirdSeason
                ) | number : "1.0-2"
              }}</span
            >
            <span
              class="yellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                (monthlyStockData.lastReportMonth <= 9
                  ? stockData.forecastMonthlyStockData
                      ?.netProfitAndLossThirdSeason
                  : monthlyStockData.netProfitAndLossThirdSeason
                ) | number : "1.0-2"
              }}</span
            >
            <span
              class="orange !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >1234</span
            >
            <span
              class="orange !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >1234</span
            >
            <span
              class="greenyellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >1234</span
            >
            <span
              class="greenyellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                (monthlyStockData.lastReportMonth <= 12 &&
                stockData.forecastMonthlyStockData
                  ? stockData.forecastMonthlyStockData
                      .netProfitMarginThirdSeason
                  : monthlyStockData.netProfitMarginThirdSeason) * 100
                  | number : "1.2-2"
              }}</span
            >
          </div>

          <div
            class="flex text-black"
            [ngClass]="{ forwardColor: monthlyStockData.lastReportMonth <= 12 }"
          >
            <span
              class="blue !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >زمستان</span
            >
            <span
              class="blue !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
            >
              <ng-container
                *ngIf="
                  monthlyStockData.lastReportMonth <= 12 &&
                  stockData.forecastMonthlyStockData
                "
              >
                {{
                  stockData.forecastMonthlyStockData.m10 +
                    stockData.forecastMonthlyStockData.m11 +
                    stockData.forecastMonthlyStockData.m12
                }}
              </ng-container>
              <ng-container *ngIf="monthlyStockData.lastReportMonth > 12">
                {{
                  monthlyStockData.m10 +
                    monthlyStockData.m11 +
                    monthlyStockData.m12
                }}
              </ng-container>
            </span>
            <span
              class="lightslategrey !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                (monthlyStockData.lastReportMonth <= 12
                  ? stockData.forecastMonthlyStockData?.operatingIncome12Monthly
                  : monthlyStockData.operatingIncome12Monthly
                ) | number : "1.0-2"
              }}</span
            >
            <span
              class="lightslategrey !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                (monthlyStockData.lastReportMonth <= 12
                  ? stockData.forecastMonthlyStockData?.productionCost12Monthly
                  : monthlyStockData.productionCost12Monthly
                ) | number : "1.0-2"
              }}</span
            >
            <span
              class="lightslategrey !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                (monthlyStockData.lastReportMonth <= 12
                  ? stockData.forecastMonthlyStockData
                      ?.netProfitAndLoss12Monthly
                  : monthlyStockData.netProfitAndLoss12Monthly
                ) | number : "1.0-2"
              }}</span
            >
            <span
              class="yellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                (monthlyStockData.lastReportMonth <= 12
                  ? stockData.forecastMonthlyStockData
                      ?.operatingIncomeFourthSeason
                  : monthlyStockData.operatingIncomeFourthSeason
                ) | number : "1.0-2"
              }}</span
            >
            <span
              class="yellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                (monthlyStockData.lastReportMonth <= 12
                  ? ""
                  : monthlyStockData.productionCostFourthSeason
                ) | number : "1.0-2"
              }}</span
            >
            <span
              class="yellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >{{
                (monthlyStockData.lastReportMonth <= 12
                  ? stockData.forecastMonthlyStockData
                      ?.netProfitAndLossFourthSeason
                  : monthlyStockData.netProfitAndLossFourthSeason
                ) | number : "1.0-2"
              }}</span
            >
            <span
              class="orange !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >1234</span
            >
            <span
              class="orange !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >1234</span
            >
            <span
              class="greenyellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="''"
              appTooltipHelperPosition="bottom"
              >1234</span
            >
            <span
              class="greenyellow !h-[-webkit-fill-available] text-center content-center"
              [appTooltip]="
                monthlyStockData.lastReportMonth <= 12 ? forwardMessage : ''
              "
              appTooltipHelperPosition="bottom"
              >{{
                (monthlyStockData.lastReportMonth <= 12 &&
                stockData.forecastMonthlyStockData
                  ? stockData.forecastMonthlyStockData
                      .netProfitMarginFourthSeason
                  : monthlyStockData.netProfitMarginFourthSeason) * 100
                  | number : "1.2-2"
              }}</span
            >
          </div>
        </div>
        <span
          class="gray !h-[-webkit-fill-available] text-center content-center"
          [appTooltip]="''"
          appTooltipHelperPosition="bottom"
          >{{
            (currentYear === monthlyStockData.year &&
            stockData.forecastMonthlyStockData
              ? stockData.forecastMonthlyStockData.yearlyNetProfitMargin
              : monthlyStockData.yearlyNetProfitMargin) * 100 | number : "1.2-2"
          }}</span
        >
      </div>
    </div>
  </div>

  <div class="mt-7 mb-7 lastTable">
    <div class="w-28 bg-blue-400 inline-block border-left">
      <span class="w-full inline-block">قیمت سهم</span>
      <span class="w-full inline-block">تعداد سهام</span>
      <span class="w-full inline-block">ارزش بازار</span>
    </div>

    <div class="w-60 bg-blue-400 inline-block">
      <span class="w-full inline-block">{{ stockData.lastPrice }}</span>
      <span class="w-full inline-block">{{ stockData.numberOfShares }}</span>
      <span class="w-full inline-block">
        {{ stockData.numberOfShares * stockData.lastPrice }}
      </span>
    </div>

    <div class="w-32 bg-orange-400 inline-block border-left">
      <span class="w-full inline-block">سود کل تخمینی</span>
      <span class="w-full inline-block"> P/E تخمینی</span>
      <span class="w-full inline-block"> EPS تخمینی </span>
    </div>

    <div class="w-60 bg-orange-400 inline-block">
      <span class="w-full inline-block"
        >{{ stockData.lastForecastPrice?.profitForward | number : "1.0-0" }}
      </span>
      <span class="w-full inline-block">
        {{ stockData.lastForecastPrice?.PEForward | number : "1.0-2" }}
      </span>
      <span class="w-full inline-block">
        {{ stockData.lastForecastPrice?.epsForward | number : "1.0-0" }}
      </span>
    </div>

    <div class="w-24 inline-block border-left">
      <span class="w-full red inline-block">کران بالا</span>
      <span class="w-full blue inline-block">کران میانی</span>
      <span class="w-full green inline-block"> کران پایین </span>
    </div>

    <div class="w-24 text-center inline-block">
      <span class="w-full red inline-block">9</span>
      <span class="w-full blue inline-block">6.5</span>
      <span class="w-full green inline-block">4</span>
    </div>

    <div
      class="w-24 text-center inline-block"
      *ngIf="stockData.lastForecastPrice"
    >
      <span class="w-full red inline-block">
        {{ stockData.lastForecastPrice.epsForward * 9 | number : "1.0-0" }}
      </span>
      <span class="w-full blue inline-block">
        {{ stockData.lastForecastPrice.epsForward * 6.5 | number : "1.0-0" }}
      </span>
      <span class="w-full green inline-block">
        {{ stockData.lastForecastPrice.epsForward * 4 | number : "1.0-0" }}
      </span>
    </div>
  </div>
</div>
