<div class="container">
  <div class="container-spinner" *ngIf="proses === RequestStatus.Loading">
    <core-spinner
      class="spinner"
      [type]="'circle'"
      [size]="60"
      colorState="default"
    ></core-spinner>
  </div>
  <core-expandable-card
    [headerTitle]="'گزارشات سالیانه'"
    class="content-report"
    [isCardOpen]="true"
    *ngIf="proses === RequestStatus.Success"
    ><div class="table-detail-info-travelers">
      <table>
        <tr>
          <th *ngFor="let column of columnsSchema">{{ column.label }}</th>
        </tr>
        <tr
          *ngFor="
            let yearlyStockData of stockData.yearlyStockData;
            let counter = index
          "
        >
          <td
            *ngFor="let column of columnsSchema"
            [ngClass]="{
              blue: column.color==='blue',
              orange: column.color==='orange',
              gray: column.color==='gray',
            }"
          >
            {{
              column.leverage && column.leverage > 0
                ? ((yearlyStockData[column.key] * column.leverage
                    | number : "1.2-2") + "%" | persianDigits)
                : column.pipe && column.pipe.length > 0
                ? ((yearlyStockData[column.key] | number : column.pipe) + ""
                  | persianDigits)
                : column.type === "selector"
                ? (yearlyStockData[column.key][column.data?.key!]
                  | digitGroup
                  | persianDigits)
                : column.type === "number"
                ? (yearlyStockData[column.key] | persianDigits)
                : (yearlyStockData[column.key] | digitGroup | persianDigits)
            }}
          </td>
        </tr>
      </table>
      <!-- <div class="no-emd" *ngIf="stockData.yearlyStockData?.length === 0">
        دیتایی وجود ندارد
      </div> -->
    </div>
    <div class="flex w-36">
      <core-btn
        (btnClicked)="showAnnualSalesChartChart()"
        class="col-span-1 inline-block m-2"
        [colorState]="'success'"
        >نمودار فروش سالیانه</core-btn
      >

      <core-btn
        (btnClicked)="showNetProfitAndLossChart()"
        class="col-span-1 inline-block m-2"
        [colorState]="'success'"
        >نمودار حاشیه سود</core-btn
      >

      <core-btn
        (btnClicked)="showNetProfitMarginChart()"
        class="col-span-1 inline-block m-2 !w-96"
        [colorState]="'success'"
        >نمودار حاشیه سود خالص</core-btn
      >
    </div>
  </core-expandable-card>
  <core-expandable-card
    [headerTitle]="'گزارشات ماهیانه'"
    class="content-report"
    [isCardOpen]="false"
    *ngIf="proses === RequestStatus.Success"
    ><div class="table-detail-info-travelers">
      <table>
        <tr>
          <th *ngFor="let column of columnsSchema1">{{ column.label }}</th>
        </tr>
        <tr
          *ngFor="
            let monthlyStockData of stockData.monthlyStockData;
            let counter = index
          "
        >
          <td
            *ngFor="let column of columnsSchema1"
            [ngClass]="{
              blue: column.color==='blue',
              orange: column.color==='orange',
              gray: column.color==='gray',
              yellow: column.color==='yellow',
              greenLite: column.color==='greenLite',
              
            }"
          >
            <div
              *ngIf="column.column === 4 && column.keys"
              class="flex flex-col"
            >
              <ng-container *ngFor="let item of column.keys; let i = index">
                <span
                  [ngClass]="{
                    'text-blue-700':monthlyStockData.isForward[i],
                    'text-center':column.keysColor && column.keysColor.length>0,
                    blue: column.keysColor && (column.keysColor[i] === 'green'),
                    orange: column.keysColor && (column.keysColor[i] === 'yellow'),
                    yellow: column.keysColor && (column.keysColor[i] === 'orange'),
                    green: column.keysColor && (column.keysColor[i] === 'blue'),
                  }"
                  >{{
                    column.pipe
                      ? " % " +
                        ((monthlyStockData[column.keys[i]] | number : "1.2-2") +
                          "" | persianDigits)
                      : (monthlyStockData[column.keys[i]]
                        | digitGroup
                        | persianDigits)
                  }}</span
                >
              </ng-container>
            </div>
            <span *ngIf="column.column === 1">{{
              column.pipe
                ? " % " +
                  ((monthlyStockData[column.key] | number : "1.2-2") + ""
                    | persianDigits)
                : (monthlyStockData[column.key] | persianDigits)
            }}</span>
          </td>
        </tr>
      </table>
      <!-- <div class="no-emd" *ngIf="stockData.yearlyStockData?.length === 0">
        دیتایی وجود ندارد
      </div> -->
    </div>
    <div class="flex">
      <core-btn
        (btnClicked)="showMonthlySalesChartChart()"
        class="inline-block !w-48"
        [colorState]="'success'"
        >نمودار فروش فصلی</core-btn
      >
    </div>
  </core-expandable-card>
  <div
    *ngIf="proses === RequestStatus.Success"
    class="grid grid-cols-6 px-4 py-2"
  >
    <core-card class="w-48">
      <div class="flex flex-col gap-3 items-center p-4">
        <span>قیمت سهم</span>
        <span class="text-blue-700"
          >{{ stockData.lastPrice | digitGroup | persianDigits }} ریال
        </span>
      </div>
    </core-card>
    <core-card class="w-48">
      <div class="flex flex-col gap-3 items-center p-4">
        <span>تعداد سهام</span>
        <span class="text-blue-700"
          >{{ stockData.numberOfShares | digitGroup | persianDigits }}
        </span>
      </div>
    </core-card>
    <core-card class="w-48">
      <div class="flex flex-col gap-3 items-center p-4">
        <span>ارزش بازار</span>
        <span class="text-blue-700"
          >{{
            stockData.numberOfShares * stockData.lastPrice
              | digitGroup
              | persianDigits
          }}
        </span>
      </div>
    </core-card>
    <core-card class="w-48">
      <div class="flex flex-col gap-3 items-center p-4">
        <span>سود کل تخمینی</span>
        <span *ngIf="stockData.lastForecastPrice" class="text-orange-600"
          >{{
            (stockData.lastForecastPrice.profitForward | number : "1.0-0") + ""
              | digitGroup
              | persianDigits
          }}
        </span>
      </div>
    </core-card>
    <core-card class="w-48">
      <div class="flex flex-col gap-3 items-center p-4">
        <span>P/E تخمینی</span>
        <span *ngIf="stockData.lastForecastPrice" class="text-orange-600"
          >{{
            (stockData.lastForecastPrice?.PEForward | number : "1.0-2") + ""
              | digitGroup
              | persianDigits
          }}
        </span>
      </div>
    </core-card>
    <core-card class="w-48">
      <div class="flex flex-col gap-3 items-center p-4">
        <span>EPS تخمینی</span>
        <span *ngIf="stockData.lastForecastPrice" class="text-orange-600"
          >{{
            (stockData.lastForecastPrice?.epsForward | number : "1.0-0") + ""
              | digitGroup
              | persianDigits
          }}
        </span>
      </div>
    </core-card>
  </div>
  <div
    *ngIf="proses === RequestStatus.Success"
    class="flex flex-row gap-6 justify-center px-4 py-6"
  >
    <core-card class="w-48">
      <div class="flex flex-col gap-3 items-center p-4">
        <span>کران پایین</span>
        <span class="text-green-700"
          >{{
            (stockData.lastForecastPrice.epsForward * 4 | number : "1.0-0") + ""
              | digitGroup
              | persianDigits
          }}
          ریال
        </span>
      </div>
    </core-card>
    <core-card class="w-48">
      <div class="flex flex-col gap-3 items-center p-4">
        <span>کران میانی</span>
        <span class="text-sky-500"
          >{{
            (stockData.lastForecastPrice?.epsForward * 6.5 | number : "1.0-0") +
              ""
              | digitGroup
              | persianDigits
          }}
          ریال
        </span>
      </div>
    </core-card>
    <core-card class="w-48">
      <div class="flex flex-col gap-3 items-center p-4">
        <span>کران بالا</span>
        <span class="text-red-700"
          >{{
            (stockData.lastForecastPrice.epsForward * 9 | number : "1.0-0") + ""
              | digitGroup
              | persianDigits
          }}
          ریال
        </span>
      </div>
    </core-card>
  </div>
</div>
