.tableYearHeader {
  height: 32px;
  span {
    background: lightslategray;
    color: white;
    padding: 4px 0px;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    width: 84px;
    height: 32px;
    display: inline-block;
    text-align: center;
  }
}
.tableYearBody {
  height: 32px;
  span {
    background: #69b4ff;
    color: white;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    padding: 4px 0px;
    width: 84px;
    height: 32px;
    display: inline-block;
    text-align: center;
  }
  .blue {
    background: #69b4ff;
    color: black;
  }

  .gray {
    background: gray;
    color: white;
  }
  .orange {
    background: orange;
    color: black;
  }
}
