.tableYearHeader {
  height: 32px;
  span {
    background: lightslategray;
    color: white;
    padding: 4px 0px;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    width: 84px;
    height: 32px;
    display: inline-block;
    text-align: center;
  }
}
.tableYearBody {
  height: 32px;
  span {
    background: #69b4ff;
    color: white;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    padding: 6px 0px;
    width: 84px;
    height: 32px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
  }
  .blue {
    background: #69b4ff;
    color: black;
  }
  .gray {
    background: gray;
    color: white;
  }
  .orange {
    background: orange;
    color: black;
  }
}

.tableMonthHeader {
  display: flex;
  align-items: center;
  align-content: center;
  background: lightslategray;
  width: fit-content;
  color: white;
  .year {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 84px;
    display: inline-block;
    border-right: 1px solid black;
    height: -webkit-fill-available;
    border-bottom: 1px solid black;
  }
  .season {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 150px;
    display: inline-block;
    height: -webkit-fill-available;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  .month {
    display: flex;
    align-items: center;
    align-content: center;
    height: -webkit-fill-available;
    text-align: center;
    width: 150px;
    display: inline-block;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  .afterMonth {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: -webkit-fill-available;
    min-width: 300px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    .month{
      height: -webkit-fill-available;
    align-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    }
    span {
      border-bottom: 1px solid black;
      width: -webkit-fill-available;
    }
    .headerItem {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      width: 149px;
    }
  }

  .hearBigItem {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    min-width: 1500px;
    flex-direction: column;
  }
  .headerItem {
    background: lightslategray;
    color: white;
    padding: 4px 0px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 150px;
    height: 32px;
    display: inline-block;
    text-align: center;
  }
  .last{
    text-align: center;
    align-items: center;
    align-content: center;
    height: -webkit-fill-available;
    min-width: 150px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
}


.tableMonthBody {
  display: flex;
  span {
    background: #69b4ff;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 150px;
    height: 32px;
    display: inline-block;
    text-align: center;
    padding-top: 8px;
  }
  .blue {
    background: #69b4ff;
  }

  .forwardColor {
    color: #1e00ff !important;
  }
  .green {
    background: green;
  }

  .gray {
   background: lightslategray;
    color: white;
  }

  .lightslategrey {
   background: lightslategrey;
  }

  .greenyellow {
    background: greenyellow;
  }

  .yellow {
    background: yellow;
  }
  .orange {
    background: orange;
  }
}

.sectionTwo{
    width: 2350px;
    overflow: auto;
    zoom: 0.8;
    background: lightslategray;
}


.lastTable{
  border: 1px solid black;
  display: inline-block;
  .border-left{
    border-left: 1px solid black;
  }
  .red{
    background: #ff0000;
  }
  .green{
    background: #00ff61;
  }
  .blue{
    background:  #2aa9ffab;
  }
  span{
    padding: 8px;
  }
}