.root {
  background: white;
  border-radius: 6px;
  margin: 16px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.header {
  direction: rtl;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard Syntax */
  .title-header {
    display: flex;
    padding: 12px;
    .title-label {
      margin-inline-end: 32px;
      margin-inline-start: 12px;
      font-size: 14px;
      color: #212121;
    }

    .arrow-icon {
      margin-inline-start: auto;
      width: 24px;
      height: 24px;
      fill: rgb(68, 68, 68);
    }
  }
}

.body-css-class {
  padding: 10px;
  .line {
    height: 2px;
    background-color: #9595955b;
    margin: -10px -10px -10px;
  }
}
