@mixin userSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-menu {

  display: flex;
  .navigation {
    position: relative;
    width: 100%;
    height: 100vh;

    overflow-x: hidden;
    &:hover {
      ul {
        .list {
          .separator {
            .title {
              display: block;
            }
          }
        }
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-inline: 4px;
      padding-top: 40px;
      @include userSelect();
      .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        cursor: pointer;
        .active {
          .title {
            color: #2c7be5;
          }
          .icon {
            fill: #2c7be5;
          }
        }
        .menu {
          width: 100%;
          display: flex;
          text-decoration: none;
          border-radius: 8px;
          .icon {
            display: flex;
            flex: none;
            justify-content: center;
            align-items: center;
            position: relative;
            min-width: 60px;
            height: 60px;
            padding: 25px;
            text-align: center;
            line-height: 60px;
            font-size: 1.5em;
            z-index: 1;
            padding-inline-end: 8px;
          }
          .title {
            flex: 1;
            position: relative;
            display: block;
            padding-left: 10px;
            height: 60px;
            line-height: 60px;
            white-space: nowrap;
            width: calc(100% - 120px);
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            font-size: 14px;
            font-weight: 500;
          }
          .icon-arrow {
            flex: none;
            display: flex;
            align-items: center;
            justify-content: end;
            padding-inline: 12px;
            padding-top: 12px;
          }
          .icon-arrow-active {
            flex: none;
            transform: rotate(180deg);
            display: flex;
            align-items: center;
            justify-content: start;
            padding-top: 0px;
            margin-top: 2px;
            fill: #5e6e82;
          }
          &:hover {
            background-color: #dfe6f278 !important;
          }
        }
        div {
          .child-list {
            padding-inline-start: 60px;
            padding-block: 8px;
            border-radius: 8px;
            width: 100%;
            overflow: hidden;
            text-wrap: pretty;
            .title {
              color: #5e6e82;
              font-size: 13px;
            }
            &:hover {
              background-color: #dfe6f278;
            }
          }
          .active {
            padding-inline-start: 60px;
            padding-block: 8px;
            border-radius: 8px;
            .title {
              color: #2c7be5;
              font-size: 13px;
            }
          }
        }
        .separator {
          display: flex;
          flex-direction: row;
          align-items: center;
          min-height: 60px;
          padding-inline: 16px;
          .title {
            position: relative;
            display: block;
            padding-left: 10px;
            height: 60px;
            line-height: 60px;
            white-space: nowrap;
            font-size: 14px;
            font-weight: 500;
            color: rgb(156 154 154);
          }
          .line {
            height: 1px;
            width: 100%;
            background-color: rgb(156 154 154);
          }
        }
      }
    }
  }
  .navigation-close {
    width: 60px;
    transition: width 0.5s;
    ul {
      .list {
        .separator {
          .title {
            display: none;
          }
        }
      }
    }
  }
}
.list .icon {
  width: 24px;
}
