.login-page-blur-bg {
  background: linear-gradient(220deg, #3976ad, #0e345b);
  position: fixed;
  height: 100vh;
  width: 100%;
}
.login-page-blur-bg-admin {
  background: linear-gradient(220deg, #4cb06f, #0e345b) !important;
  position: fixed;
  height: 100vh;
  width: 100%;
}
.login-sec {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(50px);
}
.login-sec form {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  width: 400px;
  padding: 90px 20px 40px 20px;
  border-radius: 15px;
}
.login-sec form {
  font-family: "vazir", sans-serif;
  margin: 10px 0px;
}
.login-sec form .login-sec_logo {
  width: 150px;
  position: absolute;
  top: -80px;
  right: calc(400px - 71%);
}
.login-sec form .login-sec_title {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
}
.login-sec form input {
  padding: 10px;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: justify;
  border: 0px !important;
}
.login-sec form input::placeholder {
  direction: rtl;
  font-family: "vazir", sans-serif;
  text-align: center;
}
.mat-mdc-form-field-error {
  font-size: 1rem;
  direction: rtl;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
}
.login-sec form button {
  font-size: 1.2rem;
}
::ng-deep .mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay {
  opacity: 0.2;
}
::ng-deep
  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  padding-top: 6px;
  padding-bottom: 10px;
}
::ng-deep
  .login-sec
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-floating-label--float-above {
  color: white;
  font-weight: 600;
}
::ng-deep
  .login-sec
  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-floating-label--float-above {
  color: white;
}
::ng-deep
  .login-sec
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: white;
  border-bottom-width: 2px !important;
}
::ng-deep
  .login-sec
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-bottom-color: white;
}
::ng-deep
  .login-sec
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-line-ripple::before {
  border-bottom-color: white;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}
// ::ng-deep input:-webkit-autofill,
// ::ng-deep input:-webkit-autofill:hover,
// ::ng-deep input:-webkit-autofill:focus,
// ::ng-deep input:-webkit-autofill:active {
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: #ffffff;
//   transition: background-color 5000s ease-in-out 0s;
//   box-shadow: inset 0 0 20px 20px #23232329;
// }
@media screen and (max-height: 610px) {
  .login-sec {
    padding-top: 115px;
  }
}

input{
  border-radius: 8px;  
  background: white;
}
label {
  margin-block: 4px;
  color: white;
  text-align: justify;
}
button {
  background: #3f51b5;
  width: 24p;
  margin-top: 43px;
  height: 48px;
  border-radius: 8px;
}
