.mContainer {
  display: flex;
  height: 100%;
  width: 100%;

}
.containerLeft {
  width: 100%;

  display: flex;
  background-color: white;
  border-radius: 8px;
  
}
.resizer {
  cursor: col-resize;
  height: 100%;
  width: 8px;
  position: relative;
}
.containerRight {
  flex: 1;
  align-items: start;
  background-color: rgba(227, 232, 241, 0.5);
  border-radius: 8px;
  justify-content: center;
}
.dragIcon {
  font-size: 22px;
  width: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: -27%;
  transform: translate(-50%, -50%);
  user-select: none;
}
